body {
  background-color: rgb(230, 233, 230);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* overflow-x: hidden; */
  margin: 0; 
  /* margin: 0 auto; 
  display: grid;
  gap: 3em; 
  margin: 0; 
  grid-template-columns: 1fr 3fr;
  background-color: white; */
}



.container {
  display: grid;
  /* gap: 3em; 
  margin: 0; */
  grid-template-columns: 1fr 5.5fr;
  /* grid-template-rows: 1fr 1fr; */
  background-color: green;
}

.cvForms {
  grid-column: 1/2;
  background-color: rgb(240, 240, 10);
  padding: 3em 4em;
  color: blue ;
}

.cvStruct {
  grid-column: 2/3;
  background-color: rgb(238, 238, 196);
  color: rgb(21, 21, 49) ;
  display: flex;
  flex-direction: column;
  align-items: center;

}

